[submodule "strint"]
	path = strint
	url = https://github.com/milasudril/strint
[submodule "stic"]
	path = stic
	url = https://github.com/milasudril/stic
[submodule "analib"]
	path = analib
	url = https://github.com/milasudril/analib
